.app {
  background-color: brown;
  border: 30px solid brown;
}

.family {
  background-color: lightblue;
  border: 30px solid lightblue;
}

.person {
  background-color: lightseagreen;
  border: 30px solid lightseagreen;
}