.app {
  background-color: brown;
  border: 30px solid brown;
}

.family, .mouse {
  background-color: lightblue;
  border: 30px solid lightblue;
}

.person, .coordinates {
  background-color: lightseagreen;
  border: 30px solid lightseagreen;
}